.main-header {
  background-color: #004080;
}

.header-container {
  height: 160px;
}

.header-title-row {
  height: 110px;
  border-bottom: 1px solid #1f5f9f;
}

.header-title {
  height: 100%;
  border-right: 1px solid #1f5f9f;
}

.header-title img {
  margin-top: 30px;
}

.menu-search-row {
  height: 100%;
  position: relative;
}

.header-container .dropdown{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -7px;
  cursor: pointer;
}

.header-container .dropdown-toggle{
  margin-left: 15px;
  line-height: 16px;
}

.header-container .dropdown-menu{
  z-index: 50;
  box-shadow: none;
  border-radius: 0;
  width: 200px;
  background: #253f80;
  color: #fff;
}

.menu-search-row img{
  width: 25px;
  height: 16px;
  margin-right: 15px;
}

.menu-search-row img.arrow-img{
  width: 13px;
  height: 8px;
  margin-right: 0;
  margin-left: 10px;
}

.header-container .dropdown-menu>li>a, .dropdown-toggle, .dropdown-toggle span>a{
  color: #fff;
}

.header-container .dropdown-menu>li:hover{
  background: #102761!important;
}

.dropdown-menu > li {
  margin: 5px 0;
  padding: 5px 15px;
}

/**!*/

.main-menus {
  height: 100%;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0 !important;
}

.main-menus li,
.main-menus li a {
  color: #d9dad9;
  text-decoration: none;
}

.main-menus li.active a {
  color: yellow;
}

.main-menus > li > a:hover {
  color: #ffd35e;
}

.main-menus > li {
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

.han-circle {
  position: absolute;
  background-color: #004080;
  width: 30px;
  height: 30px;
  top: -15px;
  left: calc(50% - 15px);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.hover-menus-wrapper {
  position: absolute;
  width: 200px;
  background-color: #2a3642;
  color: #d9dad9;
  left: calc(50% - 100px);
  padding-top: 15px;
  display: none;
  z-index: 50;
}

.hover-popup-menu-wrapper {
  padding: 0 10px 10px;
}

.hover-popup-menu-wrapper li {
  height: 40px;
}

.menu-wrapper >ul li:first-child{
  padding-left: 7px;
}

.menu-wrapper,
.search-wrapper {
  padding: 0;
}

/**/

.main-search {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
  margin-top: 5px;
  height: 40px;
  padding: 6px 30px 6px 6px;
  position: relative;
}

.main-search-icon {
  position: absolute;
  right: 10px;
  top: 15px;
  z-index: 40;
  width: 20px;
  height: 20px;
}

.main-search:focus {
  background-color: #ffd35e;
  color: #000;
  box-shadow: none;
  border-radius: 4px !important;
}

.container .row{
  margin-left: 0;
  margin-right: 0;
}